h1{
    text-align: center;
    color:red;
    text-decoration: underline;
}
.container{
    width:65%;
    height:450px;
    border:2px solid grey;
    margin-left: 17%;
    background-image: url("images/Screenshot\ \(468\).png");
    background-size: 100% 450px;
    margin-bottom: 5%;
}
.content{
    width:65%;
    height:100%;
    margin-left: 17%;
}
h2{
    color:red;
    text-decoration: underline;
    text-align: center;
}
p{
    font-size: large;
}
li{
    font-size:large;
    line-height: 30px;
}
